body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        header {
            background-color: #ff69b4;
            padding: 1em;
            color: white;
            font-size: 2em;
            animation: pulse 2s infinite;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.1);
            }

            100% {
                transform: scale(1);
            }
        }
		

        h3 {
            color: #333;
            border-bottom: 5px solid #ff69b4;
            padding-bottom: 0.5em;
            margin-top: 1em;
        }
		
		h1 {
           font-size: 100px;
        }
		
		p {
           font-size: 20px;
        }

        .gallery img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            margin-bottom: 1em;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }

        .gallery img:hover {
            transform: scale(1.1);
        }
		
		.mySlidess {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

footer {
  background-color: #ff69b4;
  padding: 10px;
  text-align: center;
  color: white;
}